@import '../../../../theme/constants';
// ------ VARIABLES ---------
$background-color: $black;
$border-color: $gray;
$link-color: $white;
$link-color-hover: darken($white, 20%);
$sm-background: #0074c8;
$sm-color: $white;
$title-font: $fontA;

// ------ STYLE ----------
.footerWrapper {
  background-color: $background-color;
  a{
    font-size: 12px;
    color: $link-color!important;
    &:hover{
      color: $link-color-hover!important;
    }
  }
  .title{
    font-family: $title-font;
    font-weight: 300;
    font-size: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: $link-color-hover;
    border-bottom: 1px solid $border-color;
    margin-bottom: 25px;
  }
  .paragraph{
    font-family: $title-font;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 15px;
    color: $link-color;
  }
  .list{
    padding-left: 0;
    list-style: none;
    a, li{
      font-size: 15px;
      font: $title-font;
      font-weight: 400;
      color: $link-color;
      &:hover{
        color: $link-color-hover;
      }
    }
    a {
      font-weight: 600;
      margin-bottom: 15px;
      display: block;
    }
  }
  .container{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footerBrand{
    margin-left: 0!important;
    padding: 0;
    display: block;
    @extend .icon-sprites;
    @include sprite($sprites-brand_footer);
    left: 0;
    margin-bottom: 25px;
  }

  svg {
    position: relative;
    display: block;
    margin: 0 0 15px;
  }
  .facebook{
    circle{
      fill: #0074c8;
      cursor: pointer;
    }
    path{
      fill: $sm-color;
      cursor: pointer;
    }
    &:hover{
      cursor: pointer;
      circle {
        fill: #0584d3;
      }
      path {
        cursor: pointer;
        fill: #fff;
      }
    }
  }
  .instagram {
    circle{
      fill: #bc2a8d;
      cursor: pointer;
    }
    path{
      fill: #fff;
      cursor: pointer;
    }
    &:hover{
      cursor: pointer;
      circle {
        fill: #b95b9c;
      }
      path {
        cursor: pointer;
        fill: #fff;
      }
    }
  }
}

.powered {
  background-color: #191919;
  color: $white;
  padding: 10px 0;
  font-family: $fontA;
  font-size: 10px;
  a{
    color: $gray!important;
    &:hover{
      color: $white;
    }
  }
}
.wrapperBy{
  text-align: right;
}

@media #{$isPhone}{
  .serviceTitle{
    margin-top: 30px;
  }
  .facebook{
    margin-top: 30px;
  }
  .wrapperBy{
    text-align: left;
  }
}
