@import '../../../../theme/constants';
// ------ VARIABLES ---------
$background-color: $black;
$link-color: darken($white, 10%);
$link-color-hover: $white;
$sm-background: #0074c8;
$sm-color: $white;

// ------ STYLE ----------
.footerWrapper {
  background-color: $background-color;
  a{
    font-size: 12px;
    color: $link-color!important;
    &:hover{
      color: $link-color-hover!important;
    }
  }
  .container{
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sitemap{
    padding-left: 0;
    list-style: none;
    li{
      display: block;
    }
    a{
      display: block;
      margin-bottom: 10px;
      font-family: $fontA;
    }
  }
  svg {
    position: relative;
    display: block;
    margin: 0 auto 20px;
    circle{
      fill: $sm-background;
    }
    path{
      fill: $sm-color;
    }
  }
  .facebook{
    &:hover{
      circle {
        fill: #0584d3;
      }
      path {
        fill: #fff;
      }
    }
  }
}
.contact_info{
  a{
    display: block;
  }
}
.powered {
  background-color: #191919;
  color: $white;
  padding: 10px 0;
  font-family: $fontA;
  font-size: 10px;
  a{
    color: $gray!important;
    &:hover{
      color: $white;
    }
  }
}

@media #{$isPhone}{
  .serviceTitle{
    margin-top: 30px;
  }
  .facebook{
    margin-top: 30px;
  }
}
