@import '../../../../theme/constants.scss';
@import '../../../../theme/images/images';
@import '../../../../theme/paragraphs/paragraphs';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/titles/titles';

.button3v5 {
  @extend .button3v3;

  &:before {
    background-image: url('/images/clases/HipHop-Icon.png');
    background-position: inherit;
  }
}

@media #{$isPhone}{
 .button3v1,  .button3v2,  .button3v3,  .button3v5{
   padding-top: 30px;
   height: 238px;
  }
}

.customCol {
  width: 25%;
}
@media #{$isPhone}{
  .customCol{
		width: 100%;
  }
}
