@import '../constants';
.title1{
  font-family: $fontC;
  color: $white;
  font-style: italic;
  font-size: 65px;
  letter-spacing: 30px;
}
.title2{
  font-family: $fontA;
  color: $white;
  font-weight: bold;
  font-size: 13px;
  letter-spacing:2px;
  a{
    display: block;
    cursor: pointer;
    padding: 15px 30px;
    color: $gray;
    &:hover{
      color: $white;
    }
  }
}
.title3{
  font-family: $fontA;
  color: $white;
  font-weight: bold;
  font-size: 17px;
  letter-spacing:2px;
}
.title4{
  display: block;
}
.title5{
  color: $white;
  font-style: italic;
  font-size: 65px;
  letter-spacing: 5px;
  font-family: $fontB;
}
.title6{
  color: $white;
  font-family: $fontB;
  letter-spacing: 3px;
  font-size: 25px;
  font-style: italic;
}
.title7{
  display: block;
}
.title8{
  font-family: $fontB;
  color: $black;
  weight: bold;
  font-size: 22px;
  letter-spacing: 2px;
}
