@import '../../../../theme/constants';
// ********** Control variables *********************
// - General -
$height: 80px;
$background-color: $black;
// - links -
$link-color: $white;
$hover-color: $white!important;
$active: $white;
// - social media
$sm-background: $gray;
$sm-background-hover: $darkGray;
$sm-color: $white;
$sm-color-hover: $white;
// - responsive
$bar-color: $white;
$collapse-border-color: $black;
$hamburger-background: lighten($black, 15%)!important;


.navbarWrapper {
  height: 180px;
  @include transform(skew(0deg, -2.69deg));
  background-color: $background-color!important;
  margin-top: -60px;
  margin-bottom: -60px;
  z-index: 2;
  position: fixed;
  width: 100%;
}
// ********** The full navbar *********************
.navbarDefault {
  @include border-radius(0);
  height: $height;
  border: none!important;
  margin-bottom: 0;
  @include transform(skew(0deg, 2.69deg));
  margin-top: 65px;
}
// ********** Navbar Header consists in mobile button and brand image *********************
.navbarHeader {
  height: $height;
  position: relative;
}
.navbarBrand {
  margin-left: 0!important;
  padding: 0;
  @extend .vCenter;
  @extend .icon-sprites;
  @include sprite($sprites-brand);
  left: 0;
}
.toggleButton{
  @extend .vCenter;
  margin: 0;
  right: 15px;
  border: none;
  .iconBar{
    background-color: $bar-color!important;
  }
  &:hover, &:focus{
    background-color: $hamburger-background;
  }
}
// ********** Navbar Collapse contains the elements that will hide when on mobile size *********************
.navbarCollapse{
  float: right;
  border: none;
  padding-right: 0;
  padding-left: 0;
  background: $background-color;
}
.navbarNav {
  >li{
    height: $height;
    margin-right: 66px;
  }
  >li:last-child{
    margin-right: 200px;
  }
}
.navbarNavAnchor {
  font-family: $fontA;
  font-weight: 300;
  padding-top: 0!important;
  padding-bottom: 0!important;
  font-size: 13px;
  color: $link-color;
  text-transform: uppercase;
  @extend .vCenter;
  &:hover, &:focus {
    color: $hover-color;
    font-weight: 700;
    background-color: transparent!important;
  }
}

.navbarIcons {
  margin: 0;
  float: right;
  height: $height;
  padding: 0;
  position: relative;
  li{
    height: $height;
    position: relative;
    display: inline-block;
    list-style: none;
    .sm_icon {
      padding: 0 0 0 10px;
      display: block;
      cursor: pointer;
      @extend .vCenterRel;
      svg {
        position: relative;
        cursor: pointer;
        circle{
          fill: #0074c8;
          cursor: pointer;
        }
        path{
          fill: $sm-color;
          cursor: pointer;
        }
      }
      .facebook{
        &:hover{
          cursor: pointer;
          circle {
            fill: #0584d3;
          }
          path {
            cursor: pointer;
            fill: #fff;
          }
        }
      }
    }
  }
}
@media#{$isTablet}{
  .navbarBrand{
    left: 15px;
  }
  .navbarNav {
    margin-right: 10px!important;
    >li{
      margin-right: 30px;
    }
    >li:last-child{
      margin-right: 60px;
    }
  }
  .navbarBrand {
    left: 15px;
  }
  .navbarIcons {
    padding-right: 10px;
  }
}
@media#{$isPhone}{
  .navbarWrapper{
    height: 154px;
    margin-top: -72px;
  }
  .navbarBrand{
    left: 15px;
  }
  .navbarCollapse{
    position: relative;
    z-index: 1000;
    float: none;
    border-bottom: 1px solid $collapse-border-color;
    border-top: 2px solid $collapse-border-color;
    li {
      height: auto;
      padding: 15px 0;
    }
  }
  .navbarIcons{
    display: none;
  }
  .navbarNav {
    float: none!important;
    margin: 0;
    position: relative;
    >li{
      padding: 20px 0;
      margin-right: 0;
    }
    >li:last-child{
      margin-right: 0;
    }
    .navbarNavAnchor{
      position: relative;
      @include transform(translateY(0));
      text-align: center;
      top: 0;
    }
  }
}
