@import '../constants';
.sideSwipe{
  position: relative;
  z-index: 1;
  text-align: center;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  &:hover{
    &::before{
      right: 0;
    }
  }
  &::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 100%;
    top: 0;
    z-index: -1;
    -webkit-transition: right 0.2s ease-in;
  }
}
.bottomSwipe{
  position: relative;
  z-index: 1;
  text-align: left;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
  &:hover{
    &::before{
      top: 0;
    }
  }
  &::before{
    content: "";
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    top: 100%;
    z-index: -1;
    -webkit-transition: top 0.2s ease-in;
  }
}

.button1{
  @extend .bottomSwipe;
  position: relative;
  background-color: $black;
  border: 1px solid $black;
  padding: 20px 45px;
  color: $white;
  text-transform: uppercase;
  font-family: $fontA;
  width: 195px;
  font-size: 15px;
  display: block;
  &:hover{
    color: $black!important;
    svg{
      polyline{
        stroke: $black;
      }
    }
  }
  &:visited, &:focus {
    color: $white;
  }
  &::before{
    background: $white;
  }
  svg{
    @extend .vCenter;
    right: 15px;
    polyline{
      stroke: $white;
    }
  }
}

.button2{
  @extend .bottomSwipe;
  position: relative;
  background-color: transparent;
  border: 1px solid $white;
  padding: 20px 45px;
  color: $white;
  text-transform: uppercase;
  font-family: $fontA;
  width: 195px;
  font-size: 15px;
  display: block;
  &:hover{
    color: $black!important;
    svg {
      polyline{
        stroke: $black;
      }
    }
  }
  &:visited, &:focus {
    color: $white;
  }
  &::before{
    background: $white;
  }
  svg{
    @extend .vCenter;
    right: 15px;
    polyline{
      stroke: $white;
    }
  }
}
.button2b{
  @extend .bottomSwipe;
  background-color: transparent;
  border: 1px solid $black;
  padding: 20px 45px;
  color: $black;
  text-transform: uppercase;
  font-family: $fontA;
  width: 195px;
  font-size: 15px;
  display: block;
  &:hover{
    color: $white;
    svg {
      polyline{
        stroke: $white;
      }
    }
  }
  &::before{
    background: $black;
  }
  svg{
    @extend .vCenter;
    right: 15px;
    polyline{
      stroke: $black;
    }
  }
}

.button3{
  height: 290px;
  padding-top: 60px;
  display: block;
  color: $white;
  font-family: $fontB;
  font-size: 17px;
  font-weight: bold;
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
  &:hover {
    background: $white;
    color: $black!important;
  }
  &:visited {
    color: $white;
  }
  svg{
    display: block;
    margin: 25px auto;
  }
  &::before{
    content: " ";
    @extend .icon-sprites;
    margin: 0 auto 25px;
  }
}
.button3v1{
  @extend .button3;
  &::before{
    @include sprite($sprites-Icon-Ballet);
  }
}
.button3v2{
  @extend .button3;
  &::before{
    @include sprite($sprites-Icon-Jazz);
  }
}
.button3v3{
  @extend .button3;
  &::before{
    @include sprite($sprites-Icon-Flamenco);
  }
}
.button3v4{
  @extend .button3;
  &::before{
    @include sprite($sprites-Icon-CardioDanza);
  }
}
