body{
  font-family: 'Open Sans', sans-serif;
  background-color: #000;
}
a:hover {
  text-decoration: none;
}

*:focus {outline:0px none transparent;}

.container-fluid{
	max-width: 1024px;
}

img{
  max-width: 100%;
}

#app{
	overflow: hidden;
  padding-top: 48px;
}

/* ugly fixes */

#carousel-about-block-4 li.active{
  background-color: #000;
}
