@import '../../../../theme/constants.scss';
@import '../../../../theme/images/images';
@import '../../../../theme/paragraphs/paragraphs';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/titles/titles';

.mainbanner{
	height: 619px;
	padding-top: 220px;
	background-size: cover;
	background-position: center center;
}

.image {
  width: 100%;
}
.button {
  @extend .button1;
  width: 100%;
  letter-spacing: 3px;
}
@media #{$isPhone}{
	.mainbanner{
		background-position: -360px center;
	}
}
