@import '../../../../theme/constants';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/titles/titles';
@import '../../../../theme/paragraphs/paragraphs';


.paragraph{
  @extend .paragraph1b;
  margin-bottom: 50px;
}

// ---- main slider
.mainbanner{
	min-height: 750px;
	padding-top: 100px;
  background-size: cover;
  background-position: center;
}
.title{
  @extend .title6;
	margin-bottom: 50px;
	letter-spacing: 11px;
}
.paragraph{
  @extend .paragraph1;
	margin-bottom: 25px;
}
.tagline{
  @extend .paragraph5;
  margin-top: 230px;
  font-size: 41px;
  letter-spacing: 3px;
}
.button{
  @extend .button2;
  padding-top: 14px;
  padding-bottom: 14px;
  width: 215px;
}
.svg{
	display: block;
	margin: 0 auto;
}
.inner{
  margin-bottom: 100px;
}
.indicators{
  bottom: -25px;
  left: 0;
  margin-left: 0;
  text-align: left;
  width: 100%;
  li {
    margin-right: 18px!important;
    margin-left: 0;
  }
  li:last-child{
    margin-right: 0!important;
  }
}
// --- Responsive
@media #{$isPhone}{
  .title{
		font-size: 25px;
    letter-spacing: 10px;
	}
  .button{
    margin-left: auto;
    margin-right: auto;
  }
  .tagline{
    margin-top: 100px;
    font-size: 30px;
    margin-bottom: 100px;
    text-align: center;
  }
}
