@import '../../../../theme/constants.scss';
@import '../../../../theme/images/images';
@import '../../../../theme/paragraphs/paragraphs';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/titles/titles';

.wrapper{
  margin-bottom: 100px;
}
.title{
  @extend .title6;
}
.subtitle{
  @extend .title1;
  border-bottom: none;
  text-align: left;
}
.button{
  @extend .button1;
  float: right;
}
.paragraph{
  @extend .paragraph2
}
.image{
  @extend .image1;
  border: 1px solid $gold;
  width: 100%;
}
.hr{
  border: none;
  height: 1px;
  background-color: $gold;
  margin: 0 0 25px;
}

// Carousel
.controls{
	background-image: none!important;
	background: #f7f7f7;
	opacity: 1;
	height: 334px;
	width: 118px;
}
.arrow{
	@extend .fCenter;
}
@media#{$isPhone}{
  .controls{
    background: none;
    width: 50px;
  }
}
