@import '../../../../theme/constants';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/titles/titles';
@import '../../../../theme/paragraphs/paragraphs';

// ---- main slider
.wrapper{
	background-color: $white;
	padding-bottom: 100px;
}
.title{
	@extend .title6;
	color: $black;
	margin-bottom: 25px;
}
.paragraph{
	@extend .paragraph1;
	margin-bottom: 25px;
}
.indicators{
  bottom: -25px;
}
// --- Responsive
@media #{$isPhone}{
}

// Block3
