@import '../../../../theme/constants.scss';
@import '../../../../theme/images/images';
@import '../../../../theme/paragraphs/paragraphs';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/titles/titles';

.wrapper{
  background-color: $white;
  padding: 50px 0 100px;
}

.title{
  @extend .title6;
  color: $black;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 50px;
  position: relative;
  letter-spacing: 5px;
}
.paragraph{
  @extend .paragraph1b;
  color: $black;
  position: relative;
  padding-left: 45px;
}
.paragraph2{
  @extend .paragraph2;
  color: $black;
  margin-bottom: 25px;
  display: block;
  padding-left: 45px;
}
.svg{
  position: absolute;
  bottom: -80px;
  left: 0;
}
@media #{$isPhone}{
  .title{
		font-size: 30px;
	}
}
