@import '../../../../theme/constants.scss';
@import '../../../../theme/images/images';
@import '../../../../theme/wrappers/wrappers';
@import '../../../../theme/paragraphs/paragraphs';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/titles/titles';
.wrapper{
  margin-bottom: 100px;
}
.title{
  @extend .title6;
  text-align: left;
}
.button{
  @extend .button1;
  margin-left: 0;
}
.paragraph{
  @extend .paragraph2;
  margin-bottom: 50px;
}
.image{
  @extend .image1;
  border: 1px solid $gold;
  width: 100%;
}
