@import '../../../../theme/constants.scss';
@import '../../../../theme/wrappers/wrappers';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/titles/titles';
@import '../../../../theme/images/images';
@import '../../../../theme/paragraphs/paragraphs';

.wrapper{
  padding: 100px 0;
}
.image{
  @extend .image1;
}
.title{
  @extend .title6;
  margin-bottom: 50px;
}
.paragraph{
  @extend .paragraph1b;
  margin-bottom: 50px;
}
.button{
  @extend .button2;
  margin-bottom: 50px;
}
.carrouselImg{
  width: 100%;
}
.controls{
  background-image: none!important;
  position: absolute;
  &:hover{
    opacity: 1;
  }
  svg{
    @extend .vCenter;
  }
}
