@import '../../../../theme/wrappers/wrappers';
@import '../../../../theme/titles/titles';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/constants.scss';


.item{
  height: 750px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: white;
  a{
    @extend .button2b;
    margin-top: 600px;
    padding-left: 40px;
    padding-right: 40px;
  }
}
.item.darkBG{
  background-color: #000;
  a{
    @extend .button2;
    padding-left: 40px;
    padding-right: 40px;
    &:hover{
      &::before{
        top: 0;
      }
    }
  }
}
.arrow {
  top: 50%;
  position: relative;
}
@media #{$isPhone}{
  .item{
    background-size: cover;
    width: 140%;
    height: 350px;

    a{
      margin: 600px auto 0;
    }
  }

  .arrow {
    top: 26%;
  }
}
