@import '../constants';
.paragraph1{
  font: $fontA;
  color: $black;
  font-size: 15px;
  line-height: 23px;
}
.paragraph1b{
  @extend .paragraph1;
  color: $white;
}
.paragraph2{
  display: block;
}
.paragraph3{
  font-family: $fontA;
  color: $white;
  font-weight: 300;
  font-size: 20px;
}
.paragraph4{
display: block;
}
.paragraph5{
  font-family: $fontB;
  color: $white;
  font-style: italic;
  font-size: 45px;
  letter-spacing: 4px;
}
