@import '../../../../theme/constants';
// ********** Control variables *********************
// - General -
$height: 50px;
$background-color: $blue;
// - links -
$link-color: $white;
$hover-color: $salmon!important;
$active: $gold;
$menuFont: $fontB;
$menuFontSize: 13px;
// - social media
$sm-background: $gray;
$sm-background-hover: $darkGray;
$sm-color: $white;
$sm-color-hover: $white;
// - responsive
$bar-color: $white;
$collapse-border-color: $white;
$hamburger-background: lighten($blue, 10%)!important;

// ********** The full navbar *********************
.navbarWrapper{
  padding: 50px 0 31px;
  background-color: $background-color;
}
.navbarDefault {
  @include border-radius(0);
  background-color: $background-color;
  height: $height;
  min-height: $height;
  border: none!important;
  margin-bottom: 0;
}
// ********** Navbar Header consists in mobile button and brand image *********************
.navbarHeader {
  height: $height;
  position: relative;
}
.bigBrandContainer{
  background-color: $background-color;
  padding: 0 0 31px;
}
.bigBrand{
  @extend .icon-sprites;
  @include sprite($sprites-brand);
  margin: 0 auto;
}
.hidden{
  display: none;
}
.navbarBrand {
  margin-left: 0!important;
  padding: 0;
  @extend .vCenter;
  height: 29px;
  left: 0;
  display: none;
}
.toggleButton{
  @extend .vCenter;
  margin: 0;
  right: 15px;
  border: none;
  .iconBar{
    background-color: $bar-color!important;
  }
  &:hover, &:focus{
    background-color: $hamburger-background;
  }
}
// ********** Navbar Collapse contains the elements that will hide when on mobile size *********************
.navbarCollapse{
  float: right;
  border: none;
  padding-right: 0;
  padding-left: 0;
  background: $background-color;
}
.navbarNav {
  >li{
    height: $height;
  }
}
.navbarNavAnchor {
  font-family: $menuFont;
  font-weight: 300;
  padding-top: 0!important;
  padding-bottom: 0!important;
  padding-right: 100px!important;
  font-size: $menuFontSize;
  color: $link-color;
  text-transform: uppercase;
  @extend .vCenter;
  &:hover, &:focus {
    color: $hover-color;
    background-color: transparent!important;
  }
}

.navbarIcons {
  margin: 0;
  float: right;
  height: $height;
  padding: 0;
  position: relative;
  display: none;
  li{
    height: $height;
    position: relative;
    display: inline-block;
    list-style: none;
    .sm_icon {
      padding: 0 0 0 10px;
      display: block;
      @extend .vCenterRel;
      svg {
        position: relative;
        circle{
          fill: $sm-background;
        }
        path{
          fill: $sm-color;
        }
      }
      .facebook{
        width: 23px;
        height: 23px;
        circle {
          fill: #3b5998;
        }
        &:hover{
          circle {
            fill: lighten(#3b5998, 10%);
          }
          path {
            fill: #fff;
          }
        }
      }
      .twitter{
        &:hover{
          circle {
            fill: #55acee;
          }
          path {
            fill: #fff;
          }
        }
      }
      .pinterest{
        &:hover{
          circle {
            fill: #cb2027;
          }
          path {
            fill: #fff;
          }
        }
      }
      .instagram{
        &:hover{
          circle {
            fill: #125688;
          }
          path {
            fill: #fff;
          }
        }
      }
    }
  }
}
@media#{$isTablet}{
  .navbarBrand{
    left: 15px;
  }
  .navbarNav {
    margin-right: 10px!important;
  }
  .navbarNavAnchor {
    padding-right: 65px!important;
  }
  .navbarBrand {
    left: 15px;
  }
  .navbarIcons {
    padding-right: 10px;
  }
}
@media#{$isPhone}{
  .navbarWrapper{
    padding: 0;
  }
  .bigBrandContainer{
    display: none;
  }
  .navbarBrand{
    left: 15px;
  }
  .navbarCollapse{
    position: relative;
    z-index: 1000;
    float: none;
    border-bottom: 1px solid $collapse-border-color;
    border-top: 2px solid $collapse-border-color;
    li {
      height: auto;
      padding: 15px 0;
    }
  }
  .navbarIcons{
    display: none;
  }
  .navbarNav {
    float: none!important;
    margin: 0;
    position: relative;
    li{
      padding: 10px 0;
    }
    .navbarNavAnchor{
      position: relative;
      @include transform(translateY(0));
      top: 0;
    }
  }
}
