$sprites-Icon-Ballet: -0px -160px 100px 100px;
$sprites-Icon-CardioDanza: -200px -160px 100px 100px;
$sprites-Icon-Flamenco: -0px -260px 100px 100px;
$sprites-Icon-Jazz: -100px -260px 100px 100px;
$sprites-Logo-PasdeChat: -0px -0px 182px 160px;
$sprites-brand: -182px -82px 133px 40px;
$sprites-brand_footer: -182px -0px 200px 82px;
@mixin sprite-width($sprite) {
  width: nth($sprite, 3);
}
@mixin sprite-height($sprite) {
  height: nth($sprite, 4);
}
@function sprite-width($sprite) {
   @return nth($sprite, 3);
}
@function sprite-height($sprite) {
   @return nth($sprite, 4);
}
@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 1);
  $sprite-offset-y: nth($sprite, 2);
  background-position: $sprite-offset-x $sprite-offset-y;
}
@mixin sprite($sprite, $display: block) {
   @include sprite-position($sprite);
  background-repeat: no-repeat;
  overflow: hidden;
  display: $display;
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

.icon-sprites {
  background-image: url('/images/sprites/sprite-sprites.png');
}
