@import '../../../../theme/constants';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/titles/titles';
@import '../../../../theme/paragraphs/paragraphs';

// ---- main slider
.slide{
	height: 619px;
	background-size: cover;
	background-position: center center;
}
.overbanner{
	height: 619px;
	margin-top: -619px;
	position: relative;
}
.title{
	@extend .title6;
	margin-bottom: 50px;
	text-align: left;
}
.subtitle{
	@extend .title7;
	margin-bottom: 0;
	font-size: 15px;
}
.paragraph{
	@extend .paragraph2;
	margin-bottom: 50px;
}
.button{
	@extend .button1;
	margin-left: 0;
}

// Carousel
.controls{
	background-image: none!important;
	background: none;
	opacity: 1;
	height: 334px;
	width: 118px;
	svg{
		margin-top: 30px;
	}
}
@media#{$isPhone}{
  .bannerContainer{
    margin-top: 50px;
  }
	.controls{
		width: 50px;
	}
}
