@import '../../../../theme/constants';
@import '../../../../theme/buttons/buttons';
@import '../../../../theme/titles/titles';
@import '../../../../theme/paragraphs/paragraphs';

// ---- main slider
.mainbanner{
	min-height: 750px;
	padding-top: 220px;
	background-size: cover;
	background-position: center;
}
.title{
	@extend .title1;
	text-align: center;
	margin-bottom: 50px;
	letter-spacing: 11px;
}
.paragraph{
	@extend .paragraph3;
	text-align: center;
	margin-bottom: 50px;
}
.svg{
	display: block;
	margin: 0 auto;
}
// --- Responsive
@media #{$isPhone}{
  .title{
		font-size: 30px;
		letter-spacing: 10px;
	}
}
