@import '../../../theme/titles/titles';
@import '../../../theme/paragraphs/paragraphs';
@import '../../../theme/constants.scss';
.paragraph4{
  text-align: center;
  margin-bottom: 100px;
}
.wrapper{
  background: none;
}

.svg{
  circle{
    fill: $gold;
  }
}
@media #{$isPhone}{
  .title5{
		font-size: 30px;
    &::after{
      width: 100%;
    }
	}
}
